.cards .card {
    cursor: pointer;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
  }
  
  .cards .card:hover {
    transform: scale(1.0, 1.0);
    -webkit-transform: scale(1.0, 1.0);
    -moz-transform: scale(1.0, 1.0);
    -ms-transform: scale(1.0, 1.0);
    -o-transform: scale(1.0, 1.0);
  }
  
  .cards:hover > .card:not(:hover) {
    /* filter: blur(1px); */
    transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
  }
  