.bgimagen {
  position: relative;
}

.bgimagen::before {
  content: ""; 
  background-image: url("../../assets/backgroundCircle.svg");
  background-position: bottom right;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Aplicar rotación de 180 grados solo a la imagen de fondo */
  transform: rotate(180deg);
}


/* 
PARA EL HERO:
  
.cardcss {
  position: relative;
  transition: opacity 0.3s;
}

.cardcss:hover {
  opacity: 0.8;
}

.card__content {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  opacity: 0;
  transition: opacity 0.3s;
}

.cardcss:hover .card__content {
  opacity: 1;
}

.card__title {
  font-size: 1.0rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card__description {
  font-size: 0.9rem;
  line-height: 1.2rem;
  font-weight: 600;
}

.card__description a {
  color: white;
  text-decoration: underline;
} */
